# mod_rewrite starts here

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} ! -d #not the same as a directory

# Check for file in directory w .html ext

RewriteCond %{REQUEST_FILENAME}\.html -f

# Show page with .html ext

RewriteRule ^(.*)$ $1.html [NC,L]
